body {
    margin: 0;
}

#wrap {
    display: flex;
    width: calc(800px - 48px);
    padding: 16px 24px;
}

.container {
    width: 100%;
}

.fas {
    font-size: 1.2rem;
    color: #27A5F9;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

form > i {
    margin: 0 8px;
}

.input-container {
    flex: 1;
    box-sizing: border-box;
    position: relative;
}

input {
    padding: 8px 16px;
    padding-left: 28px;
    outline: none;
    width: 100%;
    font-size: 0.8rem;
    border: 1px solid #D7D9DC;
    color: #444444;
    box-sizing: border-box;
}

input:focus {
    border-color: #27A5F9;
}

.sf-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.fa-link {
    color: #D7D9DC;
    font-size: 1rem;
}

.fa-js { color: #EADB79; }
.fa-css3-alt { color: #3254D4; }
.fa-database { color: #444444; }

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.add-button {
    margin-left: 8px;
    padding: 8px 16px;
    height: 100%;
    color: #27A5F9;
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid #D7D9DC;
}

.add-button:hover {
    background: #27A5F9;
    color: #fff;
    border-color: #27A5F9;
}




table {
    width: 100%;
    border-spacing: 0;
}

thead {
    text-align: left;
    font-weight: bold;
    color: #444444;
}


th, td  {
    padding: 16px 8px;
    height: 16px;
    float: left;
}

td {
    border-bottom: 1px solid #EFF1F4;
}

.source-cell, .to-cell, .from-head, .to-head {
    width: 274px;
    overflow-x: scroll;
}

td > a {
    color: #444444;
    text-decoration: none;
}

.actions-head {
    width: 76px;
}

.status-cell, .status-head {
    width: 64px;
}

.status-label:hover {
    cursor: pointer;
}

.label-success {
    color: #12D99E;
}

.label-disabled {
    color: #ec1b5f;
}

.actions-cell {
    display: flex;
    align-items: center;
}

.remove-entry {
    display: flex;
    align-items: center;
    color: #ec1b5f;
}

.remove-entry > i, .edit-entry > i {
    color: #27A5F9;
    margin-right: 8px;
    font-size: 1rem;
}

.remove-entry > i {
    color: #ec1b5f;
}

