.header {
    background: white;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.extension-name {
    margin: 0;
    font-size: 20px;
    color: #333333;
}

.num-of-redirects {
    margin: 0;
    font-size: 14px;
    color: #8F8F8F;
}

.dank-button {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: rgb(39, 165, 249);
    box-shadow: rgb(230, 230, 230) 0px 0.25rem 0px 0px;
    transition: all 0.1s ease-in;
    padding: 8px 16px;
    background: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
}

.add-rule > i {
    margin-right: 6px;
}

.dank-button:hover {
    cursor: pointer;
    background: rgb(39, 165, 249);
    color: white;
    box-shadow: rgb(6, 141, 231) 0px 0.25rem 0px 0px;
    border-color: rgb(39, 165, 249);
}

.dank-button:active {
    transform: translateY(0.25rem);
    box-shadow: rgb(6, 141, 231) 0px 0px 0px 0px;
}

.action-container {
    display: flex;
}

.power-button {
    margin-right: 16px;
}

.power-button .on {
    color: #12D99E;
}

.power-button .off {
    color: #ec1b5f;
}

.power-button.on:hover {
    background: #ec1b5f;
    border-color: #ec1b5f;
    box-shadow: hsl(340, 79%, 38%) 0px 0.25rem 0px 0px;
}

.power-button.off:hover {
    background: #12D99E;
    border-color: #12D99E;
    box-shadow: #0eaf7f 0px 0.25rem 0px 0px;
}

.power-button:hover .fa-power-off {
    color: white;
}


.power-button.on:active, .power-button.off:active {
    transform: translateY(0.25rem);
    box-shadow: rgb(230, 230, 230) 0px 0px 0px 0px;
}