.redirects {
    background-color: #F7FAFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    box-shadow: inset 0 8px 10px -6px rgba(0,0,0,0.15);
    padding: 12px 12px 0 12px;
}