body {
    margin: 0 !important;
    font-family: Helvetica;
    border-radius: 5px;
}

.container {
    width: calc(800px - 48px);
}

input {
    outline: none;
}

input:focus {
    border-color: #27A5F9;
}

.input-error {
    border-color: #ec1b5f;
    color: #ec1b5f;
}

.sf-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.fa-link {
    color: #D7D9DC;
    font-size: 1rem;
}

.fa-js { color: #EADB79; }
.fa-css3-alt { color: #3254D4; }
.fa-database { color: #444444; }

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}